* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  background-color: #edeeee;
  color: orange;
  border-bottom: 3px solid #4caf50;
  padding: 30px;
}
img {
  float: left;
  padding: 1.2em;
}
img:hover {
  background-color: #e8f1f4;
}
#gallery {
  max-width: 500px;
  margin: 0 auto;
}
