article {
  float: left;
  width: 350px;
  height: 140px;
  background-color: #f7f3f3;
  margin: 10px;
}

img {
  float: left;
  width: 100px;
  padding: 20px;
}

li {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 5px;
  background-color: brown;
  border: solid 1px black;
}

.datos-producto {
  float: right;
  padding: 20px;
  width: 190px;
  box-sizing: border-box;
}

.borrar {
  float: right;
  padding: 0px 5px 0px 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.nombre {
  float: right;
  font-weight: bold;
}

.precio {
  float: right;
  color: #666;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
}

.colores {
  clear: both;
}
