<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample02"
      aria-controls="navbarsExample02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autor-list">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/libro-list">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/libro-create">Nuevo Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autor-create">Nuevo Autor</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" />
      </form>
    </div>
  </div>
</nav>
