/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

/*HEADER*/
header {
  background-color: #87ddec;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav > * {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

#logo {
  height: 100%;
  width: 50%;
}

#profile {
  width: 15%;
}

/* estilos de la lista menu/nav */
ul {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-li-item {
  display: inline;
  background-color: #fe279d;
  text-align: center;
  width: 175%;
  border-radius: 30px;
  padding: 5%;
  margin: 5%;
}

.nav-li-item:hover {
  background-color: #fee527;
  box-shadow: -1px 3px 10px #949b9c;
  transition: 0.3s;
  cursor: pointer;
}
.nav-a-item {
  text-decoration: none;
  color: black;
}

/*MAIN*/
.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;
}

.main-section-hero {
  width: 100%;
  height: 100%;
}

.main-section-hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*eventos*/
.main-aside-events {
  background-color: #d9d9d9;
  margin-top: 10px;
  text-align: center;

  width: 100%;

  font-family: "Just Another Hand", cursive;
  font-size: 5.5rem;
  font-weight: 400;
}

.main-aside-events > p {
  font-size: 3.5rem;
}

/*Main - Apartado de los albumes*/
.main-section-albums {
  margin-top: 10px;
  background-color: #65ae44;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section-albums > ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.album-item {
  margin: 2%;
  display: flex;
  flex-direction: row;
}
.album-item > * {
  border-radius: 20px;
  height: 50%;
  width: 50%;
  text-align: center;
}
.album-item > p {
  font-weight: bold;
  background-color: #d9d9d971;
  padding: 5%;
}
