* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.breadcrumb {
  font-family: "Arial", sans-serif;
  padding: 0.5em;
}
.right {
  float: right;
}
.left {
  float: left;
}
.breadcrumb > a {
  text-decoration: none;
  color: #95eb;
  font-weight: bold;
}
.breadcrumb > a:hover {
  text-decoration: underline;
  color: #6196;
}
