.cta-container {
  margin: auto;
  padding: 60px;
  background-image: url("./img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 500px;
}
.cta-container {
  font-size: 28px;
  font-weight: bold;
}
.cta-button {
  background-color: #626bb2;
  color: #fff;
  padding: 15px 30px;
  border-radius: 15px;
  border: 0px;
  font-size: 20px;
  text-transform: uppercase;
}
