.container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.container > div {
  display: grid;
  background-color: lightskyblue;
  place-items: center;
}
.container > div:nth-child(1) {
  grid-row: 2;
  grid-column: 4;
}
.container > div:nth-child(3) {
  grid-row: 1;
  grid-column: 1;
}
.container > div:nth-child(6) {
  grid-row: 1;
  grid-column: 4;
}
.container > div:nth-child(5) {
  grid-row: 2;
  grid-column: 3;
}
