body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-row: 20% 80%;
  grid-template-areas: "header header" "nav main";

  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
}

header {
  grid-area: header;
  text-align: center;
  padding: 10px;

  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 2, 57, 1) 20%,
    rgba(9, 9, 121, 1) 40%,
    rgba(6, 78, 166, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
}
nav {
  grid-area: nav;
  text-align: center;
  padding: 10px;

  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(57, 2, 2, 1) 20%,
    rgba(121, 44, 9, 1) 40%,
    rgba(166, 117, 6, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
}
main {
  grid-area: main;
  text-align: center;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 2, 57, 1) 20%,
    rgba(9, 9, 121, 1) 40%,
    rgba(6, 78, 166, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
}

video {
  width: 40%;
  height: auto;
}
