body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reloj {
  width: 500px;
  aspect-ratio: 1/1;
  border: 5px solid black;
  border-radius: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.segundos {
  height: 45%;
  width: 2.5px;
  background-color: black;
  margin-bottom: 50%;

  transform-origin: center bottom;
  animation-name: mueve;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.minutos {
  height: 30%;
  width: 5px;
  background-color: black;
  margin-bottom: 50%;
  margin-left: -3.5px;
  transform-origin: center bottom;
  animation-name: mueve;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horas {
  height: 15%;
  width: 7.5px;
  background-color: black;
  margin-bottom: 50%;
  margin-left: -6.5px;
  transform-origin: center bottom;
  animation-name: mueve;
  animation-duration: 86400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes mueve {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
