p + p {
  color: green;
}
p.text-indent {
  text-indent: 30px;
}

p.text-align {
  text-align: right;
}

p.text-decoration {
  text-decoration: underline;
}

p.letter-spacing {
  letter-spacing: 3px;
}

p.word-spacing {
  word-spacing: 10px;
}
p.text-transform {
  text-transform: uppercase;
}
p.line-height {
  line-height: 70px;
}
td {
  border: 1px solid grey;
  height: 100px;
}
.a {
  vertical-align: top;
}
.b {
  vertical-align: middle;
}
.c {
  vertical-align: bottom;
}
